<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.proyectotransporte">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/authentication"
        android:label="@string/app_name"
        android:roundIcon="@drawable/authentication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".receivers.AcceptReceiver" android:enabled= "true">

        </receiver>
        <receiver android:name=".receivers.CancelReceiver" android:enabled= "true"></receiver>
        <activity android:name=".activities.driver.MapDriverBookingActivity"></activity>
        <activity android:name=".activities.client.MapClientBookingActivity" />

        <service android:name=".services.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.client.RequestDriverActivity" />
        <activity
            android:name=".activities.client.DetailRequestActivity"
            android:parentActivityName=".activities.client.MapClientActivity" />
        <activity android:name=".activities.driver.MapDriverActivity" />
        <activity android:name=".activities.client.MapClientActivity" />
        <activity
            android:name=".activities.client.activity_register"
            android:parentActivityName=".activities.SelectOptionOutActivity" />
        <activity
            android:name=".activities.driver.RegisteDriverActivity"
            android:parentActivityName=".activities.SelectOptionOutActivity" />
        <activity
            android:name=".activities.activity_login"
            android:parentActivityName=".activities.SelectOptionOutActivity" />
        <activity
            android:name=".activities.SelectOptionOutActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>